.recipePreparation {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .recipePreparation {
    padding-top: 96px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 200px;
  }
}
@media (min-width: 1200px) {
  .recipePreparation {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  .altWrapper {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
  }
}

.header {
  color: #3e4462;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .list {
    margin-bottom: 32px;
  }
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: 14px;
  min-width: 290px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .list {
    gap: 18px;
  }
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  background-color: #8baa36;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 14px;
}
@media (min-width: 768px) {
  .step {
    font-size: 14px;
    line-height: 21px;
  }
}

.instruction {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
}
@media (min-width: 768px) {
  .instruction {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1200px) {
  .instruction {
    font-size: 12px;
    line-height: 18px;
  }
}

.image {
  width: 343px;
  height: 250px;
  border-radius: 8px;
}
@media (max-width: 320px) {
  .image {
    display: none;
  }
}
@media (min-width: 768px) {
  .image {
    width: 433px;
    height: 332px;
  }
}
