.pageContainer {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.backgroundSpacer {
    height: 444px;
    background-color: transparent;
}

.backgroundImage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 444px);
    background-image: url('../../../assets/AuthPages/rectangle-bg-desktop.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 115px;
    position: relative;
}

.orderFoodImage {
    width: auto;
    height: auto;
    max-height: calc(100vh - 115px);
}


/* Formularz */

.registerForm {
    width: 500px;
    height: 419px;
    background-color: #2A2C36;
    border-radius: 30px;
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.1);
    padding: 44px 50px;
    box-sizing: border-box;
}

.title {
    font-size: 28px;
    color: #FAFAFA;
    margin: 0;
    margin-bottom: 32px;
}

.form {
    width: 400px;
    height: 225px;
}

.field {
    margin-bottom: 24px;
}

.field:last-of-type {
    margin-bottom: 50px;
}

.input {
    width: 100%;
    height: 59px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2A2C36;
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 50px;
    box-sizing: border-box;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input:focus {
    outline: none;
    border: 1px solid #FFFFFF;
    opacity: 100%;
}

.inputWrapper {
    position: relative;
}

.icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.3);
    width: 24px;
    height: 24px;
}

.button {
    width: 100%;
    height: 59px;
    border-radius: 6px;
    border: none;
    background-color: #8BAA36;
    color: #FAFAFA;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.button:hover {
    color: #22252A;
}

.registrationLink {
    font-size: 16px;
    margin-top: 18px;
    text-align: center;
}

.registrationLink a {
    color: #FAFAFA;
    text-decoration: none;
}

.registrationLink a:hover {
    text-decoration: underline;
}

.errorContainer {
    color: red;
    font-size: 16px;
    margin-bottom: 16px;
}