.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  padding-bottom: 100px;
}

.title {
  width: 100%;
  color: black;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: left;
  max-width: 1200px;
}

.recipeHeader {
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    text-align: left;
  }

  .container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 44px;
  }

  .container {
    max-width: 1200px;
  }
}

.list {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.recipeCard {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  transition: transform 0.3s ease;
}

.recipeCard:hover {
  transform: scale(1.01);
}

@media screen and (min-width: 768px) {
  .recipeCard {
    height: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .recipeCard {
    height: 320px;
  }
}

.recipeImageContainer {
  flex-shrink: 0;
  width: 270px;
  height: 270px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 20px;
}

.recipeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 60px;
}

.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.recipeTitle {
  font-size: 1.5em;
  color: #333;
  flex-grow: 1;
}

.deleteIcon {
  cursor: pointer;
  border: none;
  background: transparent;
  background-color: #d4e0b3;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s ease;
}

.trashIcon {
  width: 20px;
  height: 20px;
}

.deleteIcon:hover {
  background-color: var(--green-color);
  stroke: white;
}

.recipeDescription {
  font-size: 1em;
  margin-bottom: 10px;
  color: #666;
  margin-right: 30px;
}

.recipeFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeDuration {
  font-size: 0.875em;
  color: #999;
}

.viewRecipeButton {
  cursor: pointer;
  border-radius: 18px 44px;
  color: #ffffff;
  font-size: 15px;
  border: none;
  background: #333333;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.viewRecipeButton:hover {
  background-color: var(--green-color);
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .list {
    max-width: 350px;
  }

  .recipeCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .recipeImageContainer {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .recipeDetails {
    align-items: center;
  }

  .recipeFooter {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
