@media (min-width: 320px) and (max-width: 767px) {
  .previewCategories {
    max-width: 343px;
    margin-top: 64px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .previewCategoriesOtherCategories {
    width: 195px;
    height: 46px;
    margin: 40px auto 100px;
    border: 2px solid #8baa36;
    color: #22252a;
    border-radius: 24px 44px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .previewCategoriesDiv {
    margin: 0 16px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .popularCategoryUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 343px;
  }
  .popularCategoryLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .popularCategoryHeader {
    width: 343px;
  }
  .popularCategoryHeading {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-decoration: none;
    margin: 0 0 32px 0;
    text-align: left;
    color: #001833;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .popularRecipeUl {
    width: 343px;
    height: 323px;
    overflow: hidden;
  }
  .seeAll {
    width: 94px;
    height: 38px;
    border: 1px solid #8aa936;
    border-radius: 6px;
    background-color: #8aa936;
    color: #fafafa;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-top: 24px;
    margin-left: auto;
    align-self: flex-end;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .previewCategories {
    max-width: 704px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .previewCategoriesOtherCategories {
    width: 239px;
    height: 61px;
    margin: 32px auto 100px;
    border: 2px solid #8baa36;
    color: #22252a;
    border-radius: 24px 44px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .previewCategoriesDiv {
    margin: 0 16px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .popularCategoryUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 704px;
  }
  .popularCategoryLi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .popularCategoryHeader {
    width: 100%;
  }
  .popularCategoryHeading {
    font-family: Poppins;
    font-size: 44px;
    text-decoration: none;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    margin: 0 0 40px 0;
    text-align: left;
    color: #001833;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .popularRecipeUl {
    width: 704px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .seeAll {
    width: 94px;
    height: 38px;
    border: 1px solid #8aa936;
    border-radius: 6px;
    background-color: #8aa936;
    color: #fafafa;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-left: auto;
    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 1440px) {
  .previewCategories {
    max-width: 1440px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .previewCategoriesOtherCategories {
    width: 239px;
    height: 61px;
    margin: 102px auto 118px;
    border: 2px solid #8baa36;
    color: #22252a;
    border-radius: 24px 44px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .previewCategoriesDiv {
    margin: 0 16px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .popularCategoryUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .popularCategoryLi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .popularCategoryHeader {
    width: 100%;
  }
  .popularCategoryHeading {
    font-family: Poppins;
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
    text-decoration: none;
    letter-spacing: -0.02em;
    margin: 0 0 50px 0;
    text-align: left;
    color: #001833;
  }
  .popularRecipeUl {
    width: 1240px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .seeAll {
    width: 94px;
    height: 38px;
    border: 1px solid #8aa936;
    border-radius: 6px;
    background-color: #8aa936;
    color: #fafafa;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-left: auto;
    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-width: 320px) {
  .popularCategoryHeading:hover,
  .popularCategoryHeading:focus {
    color: #8baa36;
  }
  .seeAll:hover {
    background-color: #22252a;
  }

  .previewCategoriesOtherCategories:hover {
    color: #fafafa;
    background-color: #8baa36;
  }

  a {
    text-decoration: none;
  }
}
