.button {
  display: none;
}

@media screen and (max-width: 1440px) {
  .button {
    display: block;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }
}

@media screen and (max-width: 768px) {
  .button {
    display: block;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
  }
}
