.container {
    width: 100%;
    margin-left: auto;
    padding-left: 16px;

    @media (min-width: 768px) {
        margin: 0 auto;
        padding-left: 32px;
    }

    @media (min-width: 1440px) {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 0;
    }
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #001833;

    @media (min-width: 768px) {
        padding-top: 72px;
        font-size: 32px;
        line-height: 32px;
        padding-bottom: 40px;
    }

    @media (min-width: 1440px) {
        padding-top: 104px;
        padding-bottom: 50px;
        font-size: 44px;
        line-height: 44px;
    }
}

.contentContainer {
    @media (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
    }
}

.reciepeContainer {
    @media (min-width: 1440px) {
        width: 800px;
    }
}

.formAndImageContainer {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }
        
    @media (min-width: 1440px) {
        gap: 50px
    }
}

.formContainer {
    width: 343px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        width: 393px;
    }
}

.ingredientsAndPreparationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-top: 44px;
    margin-bottom: 44px;
    
    @media (min-width: 768px) {
        gap: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
        align-items: start;
    }
}

.followUs {
    display: none;

    @media (min-width: 1440px) {
        display: block;
    }
}