.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 180px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  animation-name: slide-down;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  z-index: 1001;
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 480px;
    height: 215px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 500px;
    height: 215px;
  }
}

.title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.btnWrp {
  display: flex;
  gap: 16px;
}

.confirmBtn {
  width: 137px;
  height: 49px;
  border: none;
  border-radius: 6px;
  color: var(--white-color);
  background-color: var(--green-color);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: var(--dark-color);
}

@media screen and (min-width: 768px) {
  .confirmBtn {
    width: 192px;
    height: 59px;
    font-size: 16px;
    line-height: 1.12;
  }
}

.confirmBtnCurrent {
  width: 137px;
  height: 49px;
  border: none;
  border-radius: 6px;
  color: var(--dark-color);
  background-color: #d9d9d9;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .confirmBtnCurrent {
    width: 192px;
    height: 59px;
    font-size: 16px;
    line-height: 1.12;
  }
}
