.preparationSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
        
    @media (min-width: 768px) {
        gap: 32px;
    }
}

.preparationSection h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #3E4462;
    margin: 0;
}

.textarea {
    width: 343px;
    height: 154px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;

    @media (min-width: 768px) {
        width: 505px;
        height: 224px;
    }
}

.addButton {
    border-radius: 24px 44px;
    width: 129px;
    height: 46px;
    background-color: #22252a;
    color: #fafafa;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    @media (min-width: 768px) {
        width: 161px;
        height: 52px;
    }
}