/* import bg_mobile_1 from '../../../assets/RecipePage/assortment-vegetables-mobile';
import bg_mobile_2 from '../../../assets/RecipePage/assortment-vegetables-mobile@x2';
import bg_tablet_1 from '../../../assets/RecipePage/assortment-vegetables-tablet';
import bg_tablet_2 from '../../../assets/RecipePage/assortment-vegetables-tablet@x2';
import bg_desktop_1 from '../../../assets/RecipePage/assortment-vegetables-desktop';
import bg_desktop_2 from '../../../assets/RecipePage/assortment-vegetables-desktop@x2'; */

.recipeInfo {
  /* background-image: url(${bg_mobile_1}); */
  background-image: url('../../../assets/RecipePage/assortment-vegetables-mobile.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .recipeInfo {
    background-image: url('../../../assets/RecipePage/assortment-vegetables-mobile@x2.png');
  }
}

@media screen and (min-width: 768px) {
  .recipeInfo {
    height: 495px;
    -webkit-background-size: 100%;
    background-image: url('../../../assets/RecipePage/assortment-vegetables-tablet.png');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .recipeInfo {
      background-image: url('../../../assets/RecipePage/assortment-vegetables-tablet@x2.png');
    }
  }
}

@media screen and (min-width: 1280px) {
  .recipeInfo {
    height: 493px;
    background-size: 100%;
    background-position-y: 20%;
    background-image: url('../../../assets/RecipePage/assortment-vegetables-desktop.png');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .recipeInfo {
      background-image: url('../../../assets/RecipePage/assortment-vegetables-desktop@x2.png');
    }
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 18px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .textContainer {
    margin-top: 72px;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .textContainer {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.h1 {
  color: #8baa36;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 24px;
  }
}

.p {
  color: #22252a;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p {
    font-size: 12px;
    line-height: 16px;
  }
}

.button {
  background-color: transparent;
  width: 150px;
  height: 35px;
  padding: 10px 18px;
  border-radius: 24px 44px;
  border: 1px solid #8baa36;
  color: #22252a;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  margin-bottom: 42px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .button {
    width: 278px;
    height: 59px;
    border: 2px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    width: 270px;
    margin-bottom: 48px;
  }
}

.button:focus,
.button:hover {
  background-color: #8baa36;
  color: white;
}

.timeContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .timeContainer {
    gap: 8px;
    margin-bottom: 32px;
  }
}

.clockIcon {
  color: #22252a;
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .clockIcon {
    width: 20px;
    height: 20px;
  }
}

.span {
  color: #22252a;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .span {
    font-size: 14px;
    line-height: 20px;
  }
}
