.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  stroke: var(--dark-color);
  transition: stroke 0.3s ease, color 0.3s ease;
}

.navLink:hover {
  color: var(--green-color);
  stroke: var(--green-color);
  fill: var(--green-color);
}

.activeLink {
  stroke: var(--green-color);
  color: var(--green-color);
  font-weight: bold;
}

.glassWrapper {
  display: inline-block;
  position: relative;
  top: 3px;
  left: -5px;
}

.title {
  display: none;
}

@media screen and (max-width: 1439px) {
  .title {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .navLink {
    font-size: 24px;
    line-height: 1;
  }
}

@media screen and (min-width: 1440px) {
  .glassWrapper {
    top: 0;
    left: -5px;
  }
}
