.container {
  position: absolute;
  left: 16px;
  bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: none;
  transition: background-color 0.3s ease;
}

.input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.input:checked ~ .label {
  background-color: var(--green-color);
}

.input:checked ~ .container {
  background-color: var(--green-color);
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  gap: 10px;
  width: 60px;
  height: 28px;
  background-color: var(--grey-color);
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.span {
  position: absolute;
  width: 21px;
  height: 21px;
  background: linear-gradient(180deg, #ffffff 0%, #e8eaea 100%);
  border-radius: 50%;
  filter: drop-shadow(2px 1px 6px rgba(0, 0, 0, 0.25));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:checked ~ .label .span {
  transform: translateX(30px);
}

body.themeDark {
  background-color: var(--green-color);
  --dark-color: #fafafa;
  --dark-color: var(--grey-color);
}

body {
  transition: 1s;
}

@media screen and (min-width: 1440px) {
  .container {
    position: relative;
    top: 0;
    right: 0;
  }
}
